section.places-list{

    img.loading-gif{
        display: block;
        margin: auto;
    }

    label.not-found{
        margin: 30px 10px 10px 10px;
        display: block;
        font-size: 30px;    
    }
}