footer {
    background: #0D1313;
    color: white;
    align-items: center;
    height: 60px;
    padding-left: 10px;
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}